{:main                 scramblies.router
 :asset-path           "/js/out"
 :output-dir           "resources/public/js/out"
 :output-to            "resources/public/js/app.js"
 :source-map           "resources/public/js/app.js.map"
 :optimizations        :advanced
 :pretty-print         false
 :parallel-build       true
 :source-map-timestamp true}
